$color_1: white;
$color_2: blue;
$font-family_1: 'Courier New', Courier, monospace;
$font-family_2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: rgb(37, 37, 37);
$background-color_2: black;
$background-color_3: rgb(58, 56, 56);
$background-color_4: blue;
$background-color_5: white;
$background-color_6: rgb(77, 74, 74);
